streamlit
requests
google-cloud-logging
plotly
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
pyyaml
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
