streamlit
google-cloud-spanner 
itables==2.2.5
streamlit-navigation-bar
streamlit-extras
streamlit-agraph
SPARQLWrapper
pyvis
python-dotenv

tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability
